dashboard/assets/*
!dashboard/assets/.gitignore
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

\.vscode/

protected/config/db\.php

dashboard/protected/config/db\.php

dashboard/protected/runtime/application\.log

protected/runtime/application\.log

/vendor/
